/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1, h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    animation: fadeIn 1s ease-in-out;
    position: relative;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    background-color: #6c63ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #5548c8;
    transform: scale(1.1);
}

button {
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin: 10px;
}

button:hover {
    background-color: #ff4757;
    transform: scale(1.1);
}

#resultado, #mensaje {
    margin-top: 20px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    color: #333;
    animation: fadeIn 1s ease-in-out;
}

/* Animación para el fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
